# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env
.env.* 
venv/
.venv/

# SQLite Databases
*.db
data/hospital.db
data/*.db

# Backups & Sensitive CSVs
data/backup/
data/backup/*
*.csv
audit_logs.csv
anonymized_patients.csv

# Logs
*.log
logs/
logs/*

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Streamlit
.streamlit/secrets.toml
